<section class="login">
  <div class="wrapper">
    <div class="sectionBg"></div>
    <div class="opaque"></div>
    <div class="section">
      <div class="card pt-4">
        <div class="topPart">
          <div class="logoGroup mt-4">
            <img
              src="../../../assets/images/logotipoBUAP.svg"
              alt="BUAP"
              class="logo"
            />
            <img
              src="../../../assets/images/FCC-logo.png"
              alt=""
              class="logo"
            />
          </div>
          <form class="loginInfo">
            <h1>Inicie sesión:</h1>
            <div class="form-group pb-3">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Correo electrónico:"
              />
            </div>
            <div class="form-group pb-3">
              <div class="passInput">
                <input
                [type]="changetype ? 'password' : 'text'"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Contraseña"
              />
              <i (click)= "viewPass()" [ngClass]=" visible ? 'bi bi-eye-slash' : 'bi bi-eye'" id="togglePassword"></i>
              </div>
            </div>
            <small><a href="" class="forgot">Olvidé mi contraseña</a></small>
            <div class="botonera">
              <button type="submit" class="btn btn-primary mt-3">
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
        <div class="bottomPart">
          <h3>Ángel José González Pineda :: 2023</h3>
        </div>
      </div>
    </div>
  </div>
</section>
